header {
    background: rgb(209,73,134);
    background: linear-gradient(222deg, rgba(209,73,134,0.7833727240896359) 8%, rgba(56,84,226,1) 26%, rgba(226,72,123,1) 39%, rgba(169,76,158,1) 52%, rgba(56,84,226,1) 60%, rgba(252,70,107,1) 67%, rgba(239,71,115,1) 90%, rgba(65,83,221,1) 100%);
    border-radius: 5px;
    border: 5px solid black
}

h1 {
    margin: 0 4rem;
}

#indexMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.partyDetails {
    width: 25%;
    height: auto;
    min-height: 45rem;
}

.card {
    border: 3px solid black;
    border-radius: 5px;
    margin: 2rem;
    padding: 2rem;
}




#newParty {
    display: flex;
    align-items: center;
    justify-content: center;
}

#formMain {
    display: flex;
    justify-content: center;
}

 #formContainer {
    display: flex;
    flex-direction: column;
    /* padding: 10rem 5rem; */
    gap: 2rem;
    width: 50%;
 }

 .input {
    display: flex;
    flex-direction: row;
    p {
        margin: 0 1rem;
        width: auto;
        min-width: 10rem;
    }
    button {
        margin: 1rem;
    }
 }